<ion-view title="Calculator" id="page1">
    <ion-content padding="false" class="has-header" scroll="false">
        <section class = "home-container">
            <div class="myInputRow">
                <form>
                    <input 
                        type="text" 
                        placeholder="0" 
                        ng-model="result" 
                        class="myResultInput"/>
                </form>
            </div>
            <div class="button-bar row">
                <button 
                    id="calculator-button1" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("7")'>7
                </button>
                <button 
                    id="calculator-button2" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("8")'>8
                </button>
                <button 
                    id="calculator-button3" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("9")'>9
                </button>
                <button 
                    id="calculator-button7" 
                    class="button button-energized brdr" 
                    ng-click='btnClicked("/")'>/
                </button>
            </div>
            <div class="button-bar row">
                <button 
                    id="calculator-button8" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("4")'>4
                </button>
                <button 
                    id="calculator-button9" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("5")'>5
                </button>
                <button 
                    id="calculator-button10" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("6")'>6
                </button>
                <button 
                    id="calculator-button11" 
                    class="button button-energized brdr" 
                    ng-click='btnClicked("*")'>x
                </button>
            </div>
            <div class="button-bar row">
                <button 
                    id="calculator-button12" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("1")'>1
                </button>
                <button 
                    id="calculator-button13" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("2")'>2
                </button>
                <button 
                    id="calculator-button14" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("3")'>3
                </button>
                <button 
                    id="calculator-button15" 
                    class="button button-energized brdr" 
                    ng-click='btnClicked("-")'>-
                </button>
            </div>
            <div class="button-bar row">
                <button 
                    id="calculator-button17" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked("0")'>0
                </button>
                <button 
                    id="calculator-button17" 
                    class="button button-stable brdr" 
                    ng-click='btnClicked(".")'>.
                </button>
                <button 
                    id="calculator-button18" 
                    class="button button-positive brdr" 
                    ng-click='btnClicked("=")'>=
                </button>
                <button 
                    id="calculator-button20" 
                    class="button button-energized brdr" 
                    ng-click='btnClicked("+")'>+
                </button>
            </div>
            <div class="button-bar">
                <button 
                    id="calculator-button16" 
                    class="button button-assertive brdr" 
                    ng-click='btnClicked("C")'>C
                </button>
            </div>
        </section>
    </ion-content>
</ion-view>